apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: backend-api-ingress
  namespace: stdelval
spec:
  ingressClassName: nginx  
  rules:
  - http:
      paths:
      - path: /stdelval
        pathType: Prefix
        backend:
          service:
            name: backend-api-service
            port:
              number: 8000